<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nehsus.placeMVIT">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application

        android:name="com.nehsus.placeMVIT.FirebaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.nehsus.placeMVIT.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.nehsus.placeMVIT.LoginActivity" />
        <activity android:name="com.nehsus.placeMVIT.SignUpActivity" />


        <activity android:name="com.nehsus.placeMVIT.BaseWebActivity"/>
        <activity android:name="com.nehsus.placeMVIT.placementActivity"/>
    </application>

</manifest>